apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: prometheus
  namespace: argocd
spec:
  project: infrastructure
  sources:
    - repoURL: oci://ghcr.io/prometheus-community/charts/kube-prometheus-stack
      chart: kube-prometheus-stack
      targetRevision: 80.4.2
      helm:
        valueFiles:
          - $values/prometheus/values.yaml
    - repoURL: https://github.com/byulmaru/infrastructure.git
      targetRevision: HEAD
      ref: values
      path: prometheus

  destination:
    server: https://kubernetes.default.svc
    namespace: prometheus
  syncPolicy:
    automated:
      enabled: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
  ignoreDifferences:
    - group: "*"
      kind: "*"
      managedFieldsManagers:
        - prometheus-operator
