alertmanager:
  alertmanagerSpec:
    storage:
      volumeClaimTemplate:
        spec:
          storageClassName: oci-fs
          accessModes: ["ReadWriteMany"]
          resources:
            requests:
              storage: 10Gi
grafana:
  ingress:
    enabled: true
    ingressClassName: tailscale
    tls:
      - hosts:
          - grafana
prometheus:
  prometheusSpec:
    retentionSize: "50GB"
    storageSpec:
      volumeClaimTemplate:
        spec:
          storageClassName: oci-bv
          accessModes: ["ReadWriteOnce"]
          resources:
            requests:
              storage: 50Gi
    podMonitorSelectorNilUsesHelmValues: false
    podMonitorNamespaceSelector:
      matchExpressions:
        - key: kubernetes.io/metadata.name
          operator: Exists
